/* DEVELOPER: Seung Yeop Hong, IS117-007, Fall 2025 */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  padding: 3rem 1rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 1rem auto 0;
}
